{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target=".navbar-collapse"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('auth.login')}}">Login</a></li>
      <li><a href="https://pedrocapriles.io" target="_blank">My profile</a></li>
    </ul>
  </div>
</div>
{% endblock %}
